<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%= link_to "New post", new_post_path %>

<% @posts.each do |post| %>
  <p> Post title:
  <%= link_to post.title, post %>

  <p> Post body:
  <%= post.body %>

  <p>Post Photo
  <% if post.image %>
    <%= image_tag post.image_url %>
  <% else %>
    <h2>No photo :C </h2>
  <% end %>
<% end %>
